DATABASE_URL=postgresql://neondb_owner:SENHA@ep-xxx.neon.tech/neondb?sslmode=require
JWT_SECRET=seu_jwt_secret_aqui_minimo_32_caracteres
IMAGEKIT_PRIVATE_KEY=private_WYvA79qVFEFmAd6LkyDDvc/0TNA=
IMAGEKIT_PUBLIC_KEY=public_JmvhnEfzur/8HijKcI+2gcaqLyk=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/anczd8rssd
ASAAS_API_KEY=sua_chave_asaas
ASAAS_ENV=sandbox
